.informContainer {
  font-family: "Courier New", Courier, monospace;
  font-size: 16px;
}

/* Hide default HTML checkbox */
input[type="checkbox"] {
  appearance: none;

  width: 1em;
  height: 1em;
  border: 1px solid gray;
  vertical-align: -3px;
  margin: 0;
}
